<GlimmerComponent @progress={{aPropertyEngdingAfterEightiethColumnToHighlightAWeirdClosingParenIssue}}
/>

<div>
  {{t "a-long-translation-key-with-param" firstParam=(format this.amount) secondParam=(format this.secondAmount)}}
</div>
